[user]
	email = castellino96@gmail.com
	name = Lorenzo Castellino
	mail = castellino96@gmail.com
	signingkey = BDA6F572818E02C4
[commit]
	gpgsign = true
[push]
	followTags = true
[credential]
	helper = cache
[core]
	editor = micro
[gpg]
	program = /usr/bin/gpg
